version: '3.8'
services:
 prometheus:
   image: prom/prometheus:v2.22.1
   container_name: prometheus
   #network_mode: host
   ports:
    - 9090:9090
   volumes:
     - ./src/main/resources/docker/prometheus.yml:/etc/prometheus/prometheus.yml
      
 #### 
 redis:
   image: redis:alpine3.12
   container_name: redis
   hostname: redis
   #network_mode: host
   ports:
    - 6379:6379

 ###
 grafana:
   image: grafana/grafana:7.3.1
   container_name: grafana
   #network_mode: host
   ports:
    - 3000:3000
   env_file:
     - ./src/main/resources/docker/grafana/grafana.env
   volumes:  
     - ./src/main/resources/docker/grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
     - ./src/main/resources/docker/grafana/dashboards/:/etc/grafana/provisioning/dashboards/
   links:
     - prometheus
     - redis
   depends_on:
     - prometheus
     - redis
     
  ###
 jaeger:
   image: jaegertracing/all-in-one:1.21.0
   container_name: jaeger
   ports:
     - 5775:5775/udp
     - 6831:6831/udp
     - 6832:6832/udp
     - 5778:5778
     - 16686:16686
     - 14268:14268
     - 14271:14271
     - 14269:14269
     - 16687:16687
     - 9411:9411
   environment:
     - COLLECTOR_ZIPKIN_HTTP_PORT=9411
 

    
   
      