apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    
  - name: Redis
    type: redis-datasource
    url: redis://host.docker.internal:6379  